numpy==2.4.2
pandas==3.0.1
scipy==1.17.0
scikit-learn==1.8.0
pillow==12.1.0
scikit-image==0.26.0
matplotlib==3.10.8
seaborn==0.13.2
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
